 .maindiv {
            background-image: url('bgi.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .div1 {
            background-color: rgba(15, 150, 208, 0.537);
            width: 100%;
            height: 100px;
            display: flex;

            align-items: center;
            margin-top: 20px;
        }

        .sub_div1 {
            display: flex;
            text-align: center;
            gap: 5px;
        }

        .h_sub_div1 {
            margin-top: 25px;
        }

        .ul_sub_div2 {
            display: flex;
            gap: 25px;
            list-style: none;
            margin-left: 700px;
            align-items: center;
            margin-top: 25px;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            font-size: large;


        }

        .img_sub_div1 {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            /*................................................ html for second main div......................................................... */
        }

        .div2 {
            margin-top: 20px;
            /* border: 2px solid red; */
            width: 100%;
            height: 400px;
            /* background:linear-gradient(skyblue,white) */
            text-align: center;

        }

        /* From Uiverse.io by leerepublik */
        .input {
            width: 100%;
            max-width: 250px;
            height: 30px;
            padding: 12px;
            border-radius: 12px;
            border: 2px solid lightgrey;
            outline: none;
            transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            box-shadow: 0px 0px 20px -18px;
            margin-top: 50px;
        }

        .input:hover {
            border: 2px solid rgb(18, 103, 160);
            box-shadow: 0px 0px 20px -17px;
            background-color: skyblue;
        }

        .input:active {
            transform: scale(0.95);
        }

        .input:focus {
            border: 2px solid rgb(14, 102, 175);
        }

        .b1_div2 {
            height: 30px;
            width: 80px;
            color: white;
            background-color: green;
            border-color: 2px solid black;
        }


        .subdiv2 {
            /* border: 2px solid green; */
            margin-top: 30px;
            width: 250px;
            height: 250px;
            margin-left: 42%;

        }

        .h1_div2 {
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #76bdf0;

            margin-top: 20px;
        }

        .main_div6 {
            height: 500px;
            width: 100%;
            /* background-image: url('bgi.jpg'); */
            background-size: cover;
            margin-top: 100px;
            /* border: 5px solid black; */
        }




        .div2_div6 {
            /* border: 2px solid black; */
            display: flex;
            gap: 150px;
            margin: 50px;
            font-size: small;

        }

        .h_footer {
            font-size: medium;
            font-weight:bold;
        }

        .h_footer:hover {
            color: blue;
        }

        .a {
            text-align: center;
            color: #070707;
            font-weight: bolder;

        }

        /* From Uiverse.io by vinodjangid07 */
        .card {
            width: fit-content;
            height: fit-content;
            background-color: rgba(233, 239, 242, 0.012);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 25px 25px;
            gap: 20px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
        }

        /* for all social containers*/
        .socialContainer {
            width: 30px;
            height: 42px;
            background-color: rgb(44, 44, 44);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition-duration: .3s;
        }

        /* instagram*/
        .containerOne:hover {
            background-color: #f699ea;
            transition-duration: .5s;
        }

        /* twitter*/
        .containerTwo:hover {
            background-color: #00acee;
            transition-duration: .3s;
        }

        /* linkdin*/
        .containerThree:hover {
            background-color: #0072b1;
            transition-duration: .3s;
        }

        /* Whatsapp*/
        .containerFour:hover {
            background-color: #32e56d;
            transition-duration: .3s;
        }

        .socialContainer:active {
            transform: scale(0.9);
            transition-duration: .3s;
        }

        .socialSvg {
            width: 15px;
        }

        .socialSvg path {
            fill: rgb(255, 255, 255);
        }

        .socialContainer:hover .socialSvg {
            animation: slide-in-top 0.3s both;
        }

        @keyframes slide-in-top {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
      .h2_div6{
        font-size:large;
        font-weight:bolder;
      }
      /* ..............................login.html...................register button and login button............................................................................................. */
 .login_div1 {
        width: 100%;
        height: 100vh;
        background-image: url('bgi.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login_sub_div1 {
        width: 300px;
        height: 300px;
        /* border: 2px solid black; */
        /* background:linear-gradient(white,skyblue); */
        margin-top: 80px;
        margin-left: 550px;
        text-align: center;
        padding-top: 50px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .button1_div1 {
        background-color: green;
        color: rgb(2, 2, 16);
        width: 250px;
        height: 30px;
        font-size: larger;
        font-weight: bolder;
        border: 2px solid black;
    }

    .button1_div1:hover {
        background-color: rgb(40, 162, 215);
        color: rgb(2, 2, 16);
        width: 250px;
        height: 30px;
        font-size: larger;
        font-weight: bolder;
        border: 2px solid white;
    }

    .button3_div1 {
        background-color: rgb(77, 169, 218);
        color: rgb(18, 18, 19);
        width: 200px;
        height: 40px;
        font-size: larger;
        font-weight: bolder;
        border: 2px solid white;
    }

    .button3_div1:hover {
        background-color: rgb(232, 233, 237);
       
        width: 200px;
        height: 40px;
        font-size: larger;
        font-weight: bolder;
        /* border: 2px solid rgb(10, 10, 10); */
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    /* .....................................all anchor tag ke liye................................................. */
    a{
        font-weight: bold;
        color: rgb(34, 15, 205);
        text-decoration: none;
    }
    /* ........................................................css for loginform............................................................................... */
     .loginform_div1 {
            width: 100%;
            height: 100vh;
            background-image: url('bgi.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .loginform_sub_div1{
            width: 400px;
            height: 300px;
            /* border: 2px solid black; */
            margin: auto;
            margin-top:100px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }
       .input_loginform_div1{
           width:200px;
           height: 30px;
           margin-top: 5px;
           border: 2px solid black;
        margin-left: 100px;
       }
       .lable_div1{
        padding-left: 100px;
        font-weight: bold;
       }
       .input2_loginform_div1{
        margin-left: 100px;
        gap: 20px;
       }
       .btn1_loginform_div1{
        width: 200px;
        height: 30px;
         background-color: rgb(12, 29, 223);
       
        border: 2px solid black;
        margin-left: 100px;
       }
        .btn1_loginform_div1:hover{
        width: 200px;
        height: 30px;
        background-color: green;
        border: 2px solid black;
        color: white;
          margin-left: 100px;
       }
       /*.................................... docter register css.................................................. */
        .registartionform_div1 {
            width: 100%;
            height: 100vh;
            background-image: url('bgi.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .doctorregistartionform_sub_div1 {
            width: 500px;
            height: 350px;
            /* border: 2px solid black; */
            margin-left: 500px;
            margin-top: 100px;
            box-shadow: rgba(17, 83, 158, 0.4) 0px 0px 0px 2px, rgba(23, 93, 173, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.336) 0px 1px 0px inset;
        }

        .lable_drregiform {
            margin-left: 100px;
            font-weight: bold;
            font-size: larger;
        }

        .input_drregiform {
            margin-left: 100px;
            width: 300px;
            height: 30px;
            border: 2px solid aqua;
        }

        .btn1_drregiform {
            width: 150px;
            height: 30px;
            background-color: blue;
            color: aliceblue;
            border-color: azure;
            margin-left: 170px;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }

        .btn1_drregiform:hover {
            width: 150px;
            height: 30px;
            background-color: rgb(0, 255, 30);
            color: rgb(9, 9, 9);
            border-color: azure;
            margin-left: 170px;
        }
        /* .....................................fro service page.............................................................................. */
         body{
            margin:0;
            font-family: Arial, sans-serif;
            background:#f5f5f5;
        }
        .header_service{
            background:#007bff;
            color:white;
            padding:20px;
            text-align:center;
        }
        .container_service{
            width:90%;
            margin:auto;
            padding:20px 0;
        }
        .service-box_service{
            background:white;
            padding:20px;
            border-radius:10px;
            margin-bottom:20px;
            box-shadow:0px 2px 5px rgba(0,0,0,0.1);
        }
        .service-box h2{
            margin-top:0;
            color:#007bff;
        }
        .service-box p{
            color:#333;
            line-height:1.5;
        }
        .list_service{
            margin-left:15px;
        }
        .fa-regular fa-arrow-left{
        
        }
        /* ..........................................css for html...................................................... */
          body {
            background-image: url('bgi.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            font-family: Arial, sans-serif;
           
        }
        .about-section {
            background: white;
            width: 90%;
            margin: 30px auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
        }
        .about-section h1 {
            color: #007bff;
            margin-bottom: 10px;
        }
        .about-section p {
            color: #333;
            line-height: 1.6;
        }
        /* .................................css for about page................................................... */
         .contact_div {
            width: 100%;
            height: 100vh;
            background-image: url('bgi.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .contact-form {
            width: 400px;
            height: 550px;
            margin-left: 500px;
            margin-top: 50px;
            background-color: #39b5ea89;
            padding: 20px;
            border-radius: 10px;
        }

        .contact-form label {
            color: black;
        }

        .contact-form .heading {
            font-size: 24px;
            color: black;
            ;
            margin-bottom: 12px;
            font-weight: bold;
            display: block;
        }

        .contact-form form {
            display: flex;
            flex-direction: column;
        }

        .contact-form label {
            margin-bottom: 10px;
        }

        textarea {
            resize: none;
            height: 80px;
            width: 200px;
        }

        .contact-form input,
        .contact-form textarea {
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .contact-form input:focus,
        .contact-form textarea:focus {
            outline: none;
            box-shadow: 0 0 5px #ff6384;
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }

        .contact-form button[type="submit"] {
            background-color: #ff6384;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;

        }

        .contact-form button[type="submit"]:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;

        }
/* .................................responsiv ui....................................................................  */
/* ------------------- RESPONSIVE (Mobile Screen) ------------------- */
@media (max-width: 768px) {

    /* Background div full fit */
    .maindiv {
        background-size: cover;
        background-position: center;
    }

    /* Navigation items ko center me lane ke liye */
    .ul_sub_div2 {
        margin-left: 0;
        gap: 10px;
        font-size: medium;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub_div1 {
        flex-direction: column;
        text-align: center;
    }

    /* Main heading center */
    .h_sub_div1 {
        margin-top: 10px;
    }

    /* Image small for mobile */
    .img_sub_div1 {
        width: 60px;
        height: 60px;
    }

    /* Second main div responsive */
    .subdiv2 {
        margin-left: 50px;
        width: 80%;
    }

    /* Footer responsive */
    .div2_div6 {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin: 10px;
    }

    /* Login box responsive */
    .login_sub_div1 {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
    }

    /* Login form responsive */
    .loginform_sub_div1 {
        width: 90%;
        margin-top: 50px;
    }

    .input_loginform_div1,
    .btn1_loginform_div1 {
        margin-left: 20px;
        width: 80%;
    }

    /* Doctor register form */
    .doctorregistartionform_sub_div1 {
        width: 90%;
        margin-left: 5%;
        height: auto;
        padding-bottom: 20px;
    }

    .input_drregiform {
        width: 80%;
        margin-left: 10%;
    }

    .btn1_drregiform {
        margin-left: 30%;
    }

    /* Contact form responsive */
    .contact-form {
        width: 90%;
        margin-left: 5%;
        height: auto;
    }
}



